/**
    author: Gerasimov Artem|| ok.ru/artem241111

    @project class: .actions-bar
    @comments: Вывод блока с задачами
 */

/* Tasks list
------------------------------------------------------------------------------------------------- */
.actions-bar{
    align-items: center;
    justify-content: space-between;

    border-top: 1px #E6E6E6 solid;

    height: 40px;

    padding: 3px 12px;

    color: #888;
}
/* /Tasks list
------------------------------------------------------------------------------------------------- */