.actions-bar{
    font-size: 30px;

    width: 601px;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    background-color: white;

    outline: 1px solid #bfbfbf;
    box-shadow: 0 0 8px -1px #99989d;
}