/**
    author: Gerasimov Artem|| ok.ru/artem241111

    @project class: .todos-main
    @comments: вывод блока с задачами + футер
 */

/* Tasks list
------------------------------------------------------------------------------------------------- */
.todos-main{
    position: relative;
    width: 80%;
    max-width: 560px;
    min-width: 460px;
    margin: 0 auto 20px;
    }
    .todos-main::before{
        content: ' ';
        position: absolute;
        top: 100%;
        left: 2px;
    }
/* Tasks list
------------------------------------------------------------------------------------------------- */